# Node modules
node_modules/

# Environment files
.env
*.env

# Python virtual environment
venv/

# Build and temporary files
verilog/build/
dist/
build/
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
*.tmp
*.DS_Store

# Data images (ignore everything, keep .gitkeep)
Data/imgs/*
!Data/imgs/.gitkeep

Data_/imgs/*
!Data/imgs/.gitkeep

# Only keep folder structure for data_unified
data_unified/*
!data_unified/.gitkeep
!data_unified/**/.gitkeep

# Only keep folder structure for ddd
ddd/*
!ddd/.gitkeep
!ddd/**/.gitkeep

# VSCode / IDE settings
.vscode/
.idea/

# Cache
.cache/

frame.jpg